<a href="https://colab.research.google.com/github/MorningStarTM/word-ordering-/blob/main/word_ordering_using_seq2seq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparing Dataset

In [54]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [55]:
#read the data
dt = pd.read_csv("/content/word_df.csv")

In [56]:
or_cor = []
un_cor = []
for i in range(len(dt['Ordered'])):
  text = dt['Ordered'][i].replace(".","")
  if len(text.split()) == 3:
    or_cor.append(text)
  text = dt['Unordered'][i]
  if len(text.split()) == 3:
    un_cor.append(text)

In [57]:
df = pd.DataFrame()

In [58]:
df['Ordered'] = or_cor
df['Unordered'] = un_cor

In [59]:
df.head()

             Ordered          Unordered
0        I love dogs        I dogs love
1   She plays tennis   She plays tennis
2  They drink coffee  drink coffee They
3      He eats pizza      pizza He eats
4     We go shopping     shopping We go

In [60]:
#list for words and text
input_words = []
input_text = []
target_words = []
target_text = []

In [61]:
#split the unordered text and append into list
for i in range(len(df)):
    data = df['Unordered'][i]
    data = data.lower()
    word_list = data.split(' ')
    if len(word_list) <= 3:
      input_text.append(word_list)
    for word in word_list:
      if word not in input_words:
        input_words.append(word)

In [62]:
#split the ordered text and append into list
for i in range(len(df)):
    data = df['Ordered'][i]
    data = data.lower()
    word_list = data.split(' ')
    if len(word_list) <= 3:
      target_text.append(word_list)
    for word in word_list:
      if word not in target_words:
        target_words.append(word)

In [63]:
#sort the list
input_words = sorted(list(input_words))

In [64]:
len(input_words)

337

In [65]:
vocabulary = len(input_words)

In [66]:
#assign the index for each word
input_word_index = dict(
    (char, i) for i, char in enumerate(input_words)
)

In [67]:
#create the vector for sentence
encoder_input_data = np.zeros(
    (len(input_text), 3, 337), dtype='float32'
)

decoder_input_data = np.zeros(
    (len(input_text), 3, 337), dtype='float32'
)

decoder_target_data = np.zeros(
    (len(input_text), 3, 337), dtype='float32'
)

In [68]:
decoder_input_data.shape

(1038, 3, 337)

In [69]:
#preparing vector 
for j in range(len(input_text)):
  for i in range(len(input_text[j])):
    value = input_word_index[input_text[j][i]]
    encoder_input_data[j][i][value] = 1

In [70]:
#preparing vector 
for j in range(len(target_text)):
  for i in range(len(target_text[j])):
    value = input_word_index[target_text[j][i]]
    decoder_input_data[j][i][value] = 1

In [71]:
input_word_index.items()

dict_items([('abroad', 0), ('animations', 1), ('anthropology', 2), ('appliances', 3), ('archaeology', 4), ('archery', 5), ('art', 6), ('articles', 7), ('astronomy', 8), ('attend', 9), ('attends', 10), ('attentively', 11), ('bake', 12), ('bakes', 13), ('ballet', 14), ('baseball', 15), ('basketball', 16), ('beautifully', 17), ('bicycles', 18), ('bike', 19), ('bikes', 20), ('biking', 21), ('biology', 22), ('birds', 23), ('birdwatching', 24), ('birthdays', 25), ('blogs', 26), ('boardgames', 27), ('books', 28), ('botany', 29), ('boxing', 30), ('breakfast', 31), ('breaks', 32), ('build', 33), ('buildings', 34), ('builds', 35), ('business', 36), ('cakes', 37), ('calligraphy', 38), ('camping', 39), ('canoeing', 40), ('cards', 41), ('care', 42), ('carefully', 43), ('cars', 44), ('cartoons', 45), ('cats', 46), ('celebrate', 47), ('chemistry', 48), ('chess', 49), ('chocolate', 50), ('chores', 51), ('church', 52), ('cities', 53), ('classes', 54), ('clean', 55), ('climb', 56), ('clothes', 57), ('clothing', 58), ('code', 59), ('codes', 60), ('coding', 61), ('coffee', 62), ('coins', 63), ('collect', 64), ('comics', 65), ('computers', 66), ('concerts', 67), ('conferences', 68), ('cook', 69), ('cooking', 70), ('cooks', 71), ('courses', 72), ('crafts', 73), ('create', 74), ('creates', 75), ('crosswords', 76), ('cycling', 77), ('daily', 78), ('dance', 79), ('dances', 80), ('dancing', 81), ('deeply', 82), ('designs', 83), ('dinner', 84), ('dishes', 85), ('do', 86), ('documentaries', 87), ('does', 88), ('dogs', 89), ('draw', 90), ('drawing', 91), ('draws', 92), ('drink', 93), ('drives', 94), ('drums', 95), ('eat', 96), ('eats', 97), ('ecology', 98), ('economics', 99), ('education', 100), ('emails', 101), ('engineering', 102), ('english', 103), ('enjoy', 104), ('enjoys', 105), ('errands', 106), ('essays', 107), ('events', 108), ('everyday', 109), ('exercise', 110), ('exercises', 111), ('explore', 112), ('family', 113), ('fast', 114), ('festivals', 115), ('fireworks', 116), ('fishing', 117), ('fixes', 118), ('flowers', 119), ('football', 120), ('friends', 121), ('frisbee', 122), ('fun', 123), ('games', 124), ('gardening', 125), ('gardens', 126), ('geography', 127), ('geology', 128), ('go', 129), ('goes', 130), ('golf', 131), ('gracefully', 132), ('grows', 133), ('guitar', 134), ('gymnastics', 135), ('hard', 136), ('have', 137), ('he', 138), ('hike', 139), ('hiking', 140), ('history', 141), ('hockey', 142), ('holidays', 143), ('homework', 144), ('horses', 145), ('house', 146), ('houses', 147), ('housework', 148), ('i', 149), ('jewelry', 150), ('jogging', 151), ('journals', 152), ('karaoke', 153), ('karate', 154), ('kayaking', 155), ('knitting', 156), ('landscapes', 157), ('languages', 158), ('laps', 159), ('laughs', 160), ('laundry', 161), ('law', 162), ('learn', 163), ('learns', 164), ('lectures', 165), ('letters', 166), ('like', 167), ('linguistics', 168), ('listen', 169), ('listens', 170), ('literature', 171), ('logos', 172), ('loudly', 173), ('love', 174), ('loves', 175), ('lunch', 176), ('magazines', 177), ('magic', 178), ('make', 179), ('makes', 180), ('makeup', 181), ('marathons', 182), ('math', 183), ('mathematics', 184), ('meals', 185), ('medicine', 186), ('meditate', 187), ('meditates', 188), ('meditation', 189), ('meetings', 190), ('mindfulness', 191), ('motorcycles', 192), ('mountains', 193), ('movies', 194), ('museums', 195), ('music', 196), ('naps', 197), ('nature', 198), ('newspapers', 199), ('notes', 200), ('novels', 201), ('often', 202), ('online', 203), ('out', 204), ('outside', 205), ('paint', 206), ('painting', 207), ('paints', 208), ('parties', 209), ('people', 210), ('perform', 211), ('philosophy', 212), ('photographs', 213), ('photography', 214), ('photos', 215), ('physics', 216), ('piano', 217), ('picnics', 218), ('pictures', 219), ('pilates', 220), ('pizza', 221), ('planes', 222), ('plant', 223), ('plants', 224), ('play', 225), ('plays', 226), ('poems', 227), ('poetry', 228), ('politics', 229), ('portraits', 230), ('pottery', 231), ('practice', 232), ('practices', 233), ('psychology', 234), ('push-ups', 235), ('puzzles', 236), ('quickly', 237), ('quilts', 238), ('read', 239), ('reads', 240), ('regularly', 241), ('religion', 242), ('remotely', 243), ('ride', 244), ('robots', 245), ('rollercoasters', 246), ('rugby', 247), ('run', 248), ('running', 249), ('runs', 250), ('safely', 251), ('sailing', 252), ('sandcastles', 253), ('science', 254), ('scripts', 255), ('sculpting', 256), ('selfies', 257), ('sells', 258), ('seminars', 259), ('sews', 260), ('she', 261), ('shopping', 262), ('sightseeing', 263), ('sing', 264), ('singing', 265), ('sings', 266), ('skateboarding', 267), ('skating', 268), ('sketches', 269), ('skiing', 270), ('snorkeling', 271), ('snowboarding', 272), ('soap', 273), ('soccer', 274), ('sociology', 275), ('software', 276), ('solve', 277), ('solves', 278), ('songs', 279), ('spanish', 280), ('speak', 281), ('speaks', 282), ('sports', 283), ('stamps', 284), ('stars', 285), ('statistics', 286), ('stories', 287), ('studies', 288), ('study', 289), ('sunrises', 290), ('sunsets', 291), ('surf', 292), ('swim', 293), ('swimming', 294), ('swims', 295), ('take', 296), ('takes', 297), ('teaches', 298), ('technology', 299), ('tennis', 300), ('theater', 301), ('they', 302), ('thinks', 303), ('time', 304), ('together', 305), ('trails', 306), ('trains', 307), ('travel', 308), ('trees', 309), ('trumpet', 310), ('tv', 311), ('vacations', 312), ('vegetables', 313), ('videos', 314), ('visit', 315), ('visits', 316), ('volleyball', 317), ('volunteer', 318), ('volunteers', 319), ('walk', 320), ('walks', 321), ('watch', 322), ('watches', 323), ('waves', 324), ('we', 325), ('websites', 326), ('weddings', 327), ('wildlife', 328), ('work', 329), ('works', 330), ('workshops', 331), ('write', 332), ('writes', 333), ('writing', 334), ('yoga', 335), ('zoology', 336)])

In [72]:
decoder_target_data = decoder_input_data.copy()

In [73]:
decoder_target_data[0].shape

(3, 337)

In [74]:
temp = []

In [76]:
#teacher forcing
for i in range(len(decoder_target_data)):
  a = np.insert(decoder_target_data[i], 0, np.zeros(337))
  a = a[:-337]
  a = a.reshape(3, 337)
  temp.append(a)

In [77]:
temp = np.array(temp)

In [82]:
#[loves she you] -> [she loves you] === [2 1 3] -> [1 2 3]  but decoder takes [0 1 2]
temp[0]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)